
<div class="browse container">
  <div class="row">
    <div class="filters border p-2 col-md-3" >
      <div class="" style="height:100vh">
        <h4  style="background-color: black;
        color: #cea545;
        border-radius: 5px;
        padding: 5px;">
        Categories
      </h4>

        <ul class="navbar-nav" *ngFor="let c of categories">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{c.name}}
            </a>
            <ul *ngIf="c.sub_category?.length!=0" class="dropdown-menu dropdown-submenu" style="z-index: 9999">
              <li *ngFor="let sub of c.sub_category">
                <a *ngIf="sub.sub_category?.length==0" class="dropdown-item" (click)="loadProducts(sub.id)">{{sub.name}}</a>
                <a *ngIf="sub.sub_category?.length!=0" class="dropdown-item" >{{sub.name}}&nbsp;&raquo;</a>

                <ul  *ngIf="sub.sub_category?.length!=0" class="dropdown-menu dropdown-submenu" style="z-index: 9999">
                  <li *ngFor="let sub2 of c.sub_category">
                    <a class="dropdown-item" (click)="loadProducts(sub2.id)">{{sub2.name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div class="browse-content col-md-9">
      <div *ngIf="(browseState | async).loading" class="loader"></div>

      <!-- <hr> -->
      <div class="product row">
        <div class="product-card col-lg-3 col-md-6 col-12" *ngFor="let product of products">
          <a routerLink="/detail/{{product.id}}">
            <img class="pr-1" src="{{product.images[0].url}}" alt="product image"
              [ngClass]="{'gray': (browseState | async).loading}">
            <hr>
            <p class="product-name">{{product.name}}</p>
            <div class="row">
              <div class="col">
                <p>
                  Product Code: {{product.ProductCode}}</p>
                <!-- <p>${{product.Price}}</p> -->
              </div>
            </div>
          </a>
        </div>
      </div>


      <div *ngIf="!canFetch" class="row">
        <div class="col-md-12 col-12">
          <hr>
        </div>
      </div>
    </div>

  </div>

</div>
