
<div class="browse container">
  <div class="row">
    <div class="filters border p-2 col-md-4" >
      <div class="" style="height:100vh">
        <p>Categories</p>

        <ul class="navbar-nav" *ngFor="let c of categories">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{c.name}}
            </a>

            <div class="dropdown-menu tin" style="    transform: initial !important;" aria-labelledby="navbarDropdownMenuLink">
              <div *ngIf="c.sub_category.length==0" >
                <a *ngFor="let s of c.sub_category" class="dropdown-item" (click)="loadProducts(s.id)" >{{s.name}}</a>
              </div>
              <div *ngIf="c.sub_category.length!=0">
                <ul  class="dropdown-item" *ngFor="let s of c.sub_category">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{s.name}}
                    </a>

                    <!-- <div class="dropdown-menu tin" style="    transform: initial !important;" aria-labelledby="navbarDropdownMenuLink">
                      <a *ngFor="let s of c.sub_category" class="dropdown-item" (click)="loadProducts(s.id)" >{{s.name}}</a>
                    </div> -->
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="browse-content col-md-8">
      <div *ngIf="(browseState | async).loading" class="loader"></div>

      <hr>
      <div class="product row">
        <div class="product-card col-lg-3 col-md-6 col-12" *ngFor="let product of products">
          <a routerLink="/detail/{{product.ProductId}}">
            <img src="{{product.images[0].url}}" alt="product image"
              [ngClass]="{'gray': (browseState | async).loading}">
            <hr>
            <p class="product-name">{{product.ProductName}}</p>
            <div class="row">
              <div class="col-md-6">
                <div class="product-color" [ngStyle]="{'background-color':'blue'}"></div>
              </div>
              <div class="col-md-6">
                <p>Product Code: {{product.ProductCode}}</p>
                <!-- <p>${{product.Price}}</p> -->
              </div>
            </div>
          </a>
        </div>
      </div>


      <div *ngIf="!canFetch" class="row">
        <div class="col-md-12 col-12">
          <hr>
        </div>
      </div>
    </div>

  </div>

</div>
